.profile-card {
    width: 80vw;
    max-width: var(--fixed-width);
    max-height: 90vh;
    overflow: hidden;
  }
  
  .profile-card-content {
    background: var(--clr-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
    min-height: 90%;
  }
  
  .profile-card-content:hover {
    box-shadow: var(--dark-shadow);
  }
  
  .profile-card-content  .img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  
  .profile-card-content  img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }
  
  .profile-card-content  .quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--clr-primary-5);
    color: var(--clr-white);
  }
  
  .profile-card-content .img-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
  }
  
  .profile-card-content  h4 {
    margin-bottom: 0.25rem;
  }
  
  .profile-card-content h6 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }
  
  .profile-card-content  p {
    margin-bottom: 0.75rem;
    height: 4rem;
  }
  