.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
    background-color: aliceblue;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 8rem;
  }
  
  main {
    min-height: 100vh;
  }
  .flex-row {
    display: flex;
  }
  .flex-row-sb {
    justify-content: space-between;
  }
  .flex-col{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    width: 90vw;
    margin: 5rem 0;
    max-width: var(--fixed-width);
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
  }
  .grid-container{
    max-width: var(--fixed-width);
    display: grid;
    gap: 1rem 2rem;
  }
  
  .container h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 2rem;
    line-height: 1.2;
    font-weight: 500;
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }