@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.section-center {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 2rem;
}

.section-center:hover {
    box-shadow: var(--dark-shadow);
}
form{
    min-width: 80%;
    padding: 2rem
}
.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}

.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.form-control svg {
    display: inline-block;
    position: absolute;
    right: 6rem;
    margin-top: 0.75rem;
}
.form-input {
    padding: 0.35rem;
    padding-left: 1rem;
    background: var(--clr-grey-10);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-color: transparent;
    font-size: 1rem;
    color: var(--clr-grey-5);
    min-width: 80%;
    display: inline-block;
}
.flex-row .form-input {
    min-width: 100%;
    margin-left: 0;
}
.form-input::placeholder {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-5);
    font-style: italic;
}

.form-input:focus {
    border: none;
    outline: none;
    box-shadow: var(--dark-shadow);
}

input.error {
    border: 2px solid var(--clr-red-dark);
  }
.input-label{
    display: flex;
    font-style: italic;
    text-align: left;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
.submit-btn {
    flex: 0 0 5rem;
    display: grid;
    align-items: center;
    align-self: center;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    content: var(--clr-primary-5);
    transition: var(--transition);
    margin: 1rem auto;
}

.submit-btn:hover {
    background: var(--clr-primary-5);
    color: var(--clr-white);
}

.form-output-container {
    margin-top: 2rem;
}

.form-output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    padding: 0.25rem 1rem;
    border-radius: var(--radius);
    text-transform: capitalize;
}

.form-output:hover {
    color: var(--clr-grey-5);
    background: var(--clr-grey-10);
}

.form-output:hover .title {
    color: var(--clr-grey-5);
}

.form-output .title {
    margin-bottom: 0;
    color: var(--clr-grey-1);
    letter-spacing: 2px;
    transition: var(--transition);
}

.form-output .btn-container {
    margin: 0;
}